<style>
    
    #lnk {
        width: 100% !important;
        max-width: 100% !important;
        color: #3F51B5;
    }

    #btnCopyLink{
        margin-top: 10px;
    }
</style>
<div id='copyModal' class='modal fade' role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Copy link</h4>
            </div>
            <div class="modal-body">
                <textarea id="lnk" rows="5" cols="500">@ViewBag.Link</textarea>

                <br />
                <button id="btnCopyLink" class="btn btn-success" onclick="copyLink()">Copy Link</button>
                <label style="padding:10px; display:none; font-weight:initial" id="lblCopied">Copied</label>
                <label style="margin:15px;color:red;font-weight:normal">* This link will expire in @System.Configuration.ConfigurationManager.AppSettings.Get("minutes") minutes.</label>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function copyLink() {
        var copyText = document.getElementById("lnk");
        copyText.select();
        document.execCommand("copy");
        $('#lblCopied').show();
        setTimeout(function () { $('#lblCopied').hide() }, 1000);
    }

</script>