// Material Surfaces
$lead: #16191f;
$black-iron: #292c33;
$iron: #3b4149;
$mercury: #545b64;
$platinum: #879196;
$nickel: #dfe1e5;
$titanium: #f1f3f4;
$magnesium: #fafafa;
$carbon: #ffffff;

// Actions/Accents
$copper: #df3312;
$gold: #fc7e00;
$aged-bronze: #15b264;
$cobalt-dark: #007bdc;
$cobalt-light: #6be1ff;
