<style>
    .modal-body {
        padding: 30px 25px 10px 0px;
    }
    #lnk
    {
        width: 100% !important;
        max-width: 100% !important;
        color: #3F51B5;
    }
</style>


<div class="modal-body">
    @*<span class="clsClose" style="float:right;" id="spanClose"><label>X</label></span>*@
    @*<p id="lnk">@ViewBag.Link</p>*@
    <textarea id="lnk" rows="5" cols="500">@ViewBag.Link</textarea>
</div>
<br />
<button id="btnCopyLink" class="btn btn-success" onclick="copyLink()">Copy Link</button>

<script type="text/javascript">

    function copyLink() {
        var copyText = document.getElementById("lnk");
        copyText.select();
        document.execCommand("copy");
        alert("Link has been copied");
    }

    //$('#spanClose').click(function () {
    //    $('#myModal').hide();
    //    $('.modal-backdrop').hide();
    //});

    //$('.body').on('click', '.modal-link', function (e) {
    //    e.preventDefault();
    //    $('this').attr('data-target', '#modal-container');
    //    $('this').attr('data-toggle', 'modal');
    //});

    //$('.body').on('click', '.modal-close-btn', function () {
    //    $('#myModal').modal('hide');
    //});

    //$('#modal-container').on('hidden.bs.modal', function () {
    //    $(this).removeData('bs.modal');
    //})

</script>