@import '../../../common/styles/colors.scss';

$black: #010101;
$text-color: #dfe1e5;
$cyan: #2eadad;

.loginPage {
  background-color: $lead;
  height: 100%;
  min-height: 700px;
  width: 100%;
  padding: 176px 16px 0 16px;

  @media (max-height: 850px) {
    padding: 100px 16px 0 16px;
  }

  h1,
  label,
  input {
    color: $text-color;
  }

  h1 {
    margin: 0;
  }

  .fullHeight {
    height: 100%;
  }

  .iconContainer {
    display: flex;
    flex-direction: row-reverse;

    .icon {
      display: inline-block;
      height: 124px;
      width: 124px;
    }
  }

  .loginRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 0 !important;
  }

  .loginHeader {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 12px;
    height: 124px;
    vertical-align: middle;
  }

  .title {
    display: inline-block;
    vertical-align: top;

    .titleTop {
      font-size: 66px;
      height: 60px;
      line-height: 60px;
      font-weight: 100;
    }

    .titleBottom {
      font-size: 47px;
      height: 45px;
      line-height: 45px;
      font-weight: 300;
    }
  }

  #loginForm {
    padding-top: 50px;
    margin-bottom: 50px;

    .formControl {
      margin: 0 0 40px 0;

      .loginTextField {
        background-color: $black;
        width: 436px;
        margin: 0;

        @media (max-width: 1024px) {
          width: 350px;
        }
      }
    }

    .inputIcon {
      color: $text-color;
    }

    .formSubmit {
      padding-top: 30px;

      .submitButton {
        width: 155px;
      }
    }
  }

  .snack {
    display: inline-block;
  }

  .loginFooter {
    color: $text-color;

    .thinText {
      font-weight: 200;
    }

    .footerText {
      margin-bottom: 12px;
      font-size: 14px;
      color: $carbon;
    }

    .progressWidth {
      width: calc(100% + 16px);
    }

    .progressPlaceholder {
      border-bottom: 5px solid $text-color;
    }

    .copyright {
      margin: 12px 0 0 0;
      font-size: 10px;
    }
  }
}
